<div class="dashboardBackground">
  <div class="container">
    <nav class="navbar navbar-expand-md 
navbar-light bg-transparent">
      <a href="/" class="navbar-brand logo">Calorie Diary</a>
    </nav>
    <div class="row px-3">
      <div class="col-md-6">
        <h1 class="dashboardTitle text-uppercase">Enter your meal log</h1>

      </div>
      <div class="col-md-6 col-xl-9 cardG flex-row mx-auto px-0">
        <div class="im-left d-none d-md-flex dashboard-mediaQuery">
          <div class="card-body dashboard-body">
             
                <div class="form-input">
                  <div class="form-group">
                    <label class="form-label text-center" for="breakfast">What did you have for breakfast this morning?</label><br>
                    <input type="text" class="form-control" id="breakfast" placeholder="e.g Toast">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="breakfastcl">What was the calorie intake for breakfast?</label><br>
                    <input type="number" class="form-control" id="breakfastcl" min="0" placeholder="calories (kcal)">
                  </div>

                <div class="form-input">
                  <div class="form-group">
                    <label class="form-label text-center" for="lunch">What did you have for Lunch this afternoon?</label><br>
                    <input type="text" class="form-control" id="lunch" placeholder="e.g Salad">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="lunchcl">What was the calorie intake for lunch?</label><br>
                    <input type="number" class="form-control" id="lunchcl" min="0" placeholder="calories (kcal)">
                  </div>

                 <div class="form-input">
                  <div class="form-group">
                    <label class="form-label text-center" for="dinner">What did you have for dinner this evening?</label><br>
                    <input type="text" class="form-control" id="dinner" placeholder="e.g Pasta">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="dinnercl">What was the calorie intake for dinner?</label><br>
                    <input type="number" class="form-control" id="dinnercl" min="0" placeholder="calories (kcal)">
                  </div>

                <div class="form-input">
                  <div class="form-group">
                    <label class="form-label text-center" for="snacks">What snacks did you have throughout the day?</label><br>
                    <input type="text" class="form-control" id="snacks" placeholder="e.g crisps & fruit">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="snackscl">What was the total calorie intake for your snacks?</label><br>
                    <input type="number" class="form-control" id="snackscl" min="0" placeholder="calories (kcal)">
                  </div>

                  <div class="form-group">
                     <div id="errorForm" class="hide">Please complete the form in order to proceed</div>
                  </div>

                  <div class="mb-3">
                    <button type="submit" href="history.handlebars" class="hh btn btn-primary" id="submitBtn">Complete</button>
                  </div>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>

    </div>
    
  </div>