<div class="dashboardBackground">
  <div class="container">
    <nav class="navbar navbar-expand-md 
navbar-light bg-transparent">
      <a href="/" class="navbar-brand logo">CC <span class=""></span></a>
    </nav>

      <div class="col-md-6 col-xl-9 cardG flex-row mx-auto px-0">
        <div class="im-left d-none d-md-flex dashboard-mediaQuery">
          <div class="card-body dashboard-body">

            <form class="form-box px-3 text-center">
              <div class="input-group mb-3">
             
                <div class="form-input">
                  <div class="form-group">
                    <label class="form-label text-center" for="breakfast">What did you have for breakfast
                      today?</label><br>
                    <input type="text" class="form-control" id="breakfast" min="0" placeholder="e.g Coffee.....">
                  </div>
                  <div class="form-group">

                  <div class="form-group">
                    <label class="form-label text-center" for="calorie">How many calories did this meal contain?</label><br>
                    <input type="number" class="form-control" id="calorie" min="0" placeholder="calories (kcal)">
                  </div>

                    <label class="form-label text-center" for="lunch">What did you have for Lunch
                      today?</label><br>
                    <input type="text" class="form-control" id="lunch" min="0" placeholder="e.g Sandwhich....">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="calorie">How many calories did this meal contain?</label><br>
                    <input type="number" class="form-control" id="calorie" min="0" placeholder="calories (kcal)">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="alcohol">What did you have for Dinner
                      today?</label><br>
                     <input type="text" class="form-control" id="dinner" min="0" placeholder="e.g Pasta....">

                  </div>

                  
                  <div class="form-group">
                    <label class="form-label text-center" for="calorie">How many calories did this meal contain?</label><br>
                    <input type="number" class="form-control" id="calorie" min="0" placeholder="calories (kcal)">
                  </div>

                  <div class="form-group">
                    <label for="sleep">What snacks did you have today?</label>
                    <input type="text" class="form-control" id="snacks" min="0" placeholder="Fruit.....">
                  </div>

                  <div class="form-group">
                    <label class="form-label text-center" for="calorie">Approx how many calories did todays snacks contain?</label><br>
                    <input type="number" class="form-control" id="calorie" min="0" placeholder="calories (kcal)">
                  </div>

                     <div id="errorForm" class="hide">Please enter an answer in all the fields!</div>
                  </div>
                  </br>
                  <div class="mb-3">
                    <button type="submit" class="hh btn btn-primary" id="submitBtn">DAY COMPLETED!</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
    
  </div>