<div class="bg">
   <div class="container">
      <nav class="navbar navbar-expand-md 
navbar-light bg-transparent">
        <a href="/" class="navbar-brand logo">Calorie Diary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    </div>

 
  <div class="container">
    <div class="row headerMain">
      <div class="col-md-6 mainPageTitle">
        <h1 class="mainTitle text-center"> Track Your Progress!</h1>
        <div class="d-flex justify-content-center">
          <a class="btn btn-light historybtn" href="login" role="button">Start Logging</a>
        </div>
      </div>
    </div>
  </div>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        
      </div>
     
      <div class="underline"></div>
       <p>copyright &copy;2021 Calorie Diary </p>
    </div>
    
  </div>
</footer>